<div class="chat-group m-3 <%= "active" if first %>" id="<%= event.id %>">
  <h6><%= event.name %></h6>
  <p class="date"><%= event.date.strftime('%d-%m-%Y') %></p>
  <% event.users.each do |user| %>
    <%= cl_image_tag user.photo.key, class: "avatar" %>
  <% end %>
</div>
