<div class="checkbox">
 <input class="checkbox__temperament" type="checkbox" id=<%= temperament %> name=<%= "temperament[#{temperament.name}]" %> value=<%= temperament.name %>>
 <label for=<%= temperament %>><%= temperament.name %></label>  
</div>
