<%# MODAL DOG CARD %>
<div class="modal fade" id="dogCardModal_<%= dog.id %>" tabindex="-1" aria-labelledby="dogCardModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex flex-row-reverse ">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class= "modal-photo">
          <%= cl_image_tag dog.photo.key, class: "avatar-dog-modal" %>
        </div>
        <div class="infos">
          <div class="info-elements">
            <h2><%= dog.name %></h2>
          </div>
          <div class="info-elements">
            <div>Sexe:</div>
            <p><%= dog.gender %></p>
          </div>
          <div class="info-elements">
            <div>Age:</div>
            <p><%= dog.age %></p>
          </div>
          <div class="info-elements">
            <div>Taille:</div>
            <p><%= dog.size %></p>
          </div>
          <div class="d-flex flex-wrap justify-content-center align-items-center">
            <% dog.temperaments.each do |temperament| %>
              <div class="dog-temperament"><%= temperament.name %></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
