<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= link_to "Meet My Dog", root_path, class: "navbar-brand" %>
      <%= link_to "Dashboard", dashboard_path, class: "navbar-dashboard" %>
    </div>
    <% unless current_page?(root_path) %>
      <div class="container-fluid">
        <form class="d-flex justify-content-center">
          <input class="form-control me-2" type="search" placeholder="Ville ou adresse" aria-label="Search" style="width: 400px;">
          <button class="btn btn-flat" type="submit">Va chercher!</button>
        </form>
      </div>
    <% end %>
    <ul class="navbar-nav align-items-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><i class="far fa-comment-dots"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-paw"></i></a>
      </li>
      <li class="nav-item dropdown">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if current_user&.photo.present? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "#{current_user.nickname}" %>
            <% end %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <%= link_to "Edit my profile", edit_user_registration_path, class: "dropdown-item" %>
              <%# <a class="dropdown-item" href="#">Edit my profile</a> %>
            </li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
