<div class="accordion-item shadow-sm rounded mb-4">
  <h2 class="accordion-header" id="heading-<%= walk.id %>">
    <button class="accordion-button collapsed ps-0 pt-0 pb-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= walk.id %>" aria-expanded="true" aria-controls="collapse-<%= walk.id %>">
      <%= cl_image_tag walk.photo.key, crop: :fill, class: "me-3 walk-photo" %>
      <div class="d-flex flex-column justify-content-center w-100">
        <h3 class="walk-title"><%= walk.name %></h3>
        <div class="walk-description">
          <p class="mb-0"><%= walk.description %>
          </p>
        </div>
      </div>
      <div class="d-flex align-items-center mx-4 walk-infos">
        <p class="text-nowrap mb-0 mx-2"><%= walk.length.round(1) %> km</p>
        <p class="mb-0 site-bar">|</p>
        <p class="text-nowrap mb-0 mx-2"><%= walk.duration  %> minutes</p>
        <p class="mb-0 site-bar">|</p>
        <% if walk.events.count %>
          <p class="text-nowrap mb-0 mx-2"><%= walk.events.count %> événements</p>
        <% else %>
          <p class="text-nowrap mb-0 mx-2">Aucun événement</p>
        <% end %>
      </div>
    </button>
  </h2>
  <div id="collapse-<%= walk.id %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= walk.id %>" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <div class="container">
        <% if walk.events.count.zero? %>
          <h2 class="text-center mt-3">😢 Aucun événement disponible 😢</h2>
        <% else %>
          <% walk.events.each do |event| %>
            <%= render '/shared/event_card', event: event, show: true %>
          <% end %>
        <% end %>
      </div>
      <div class="w-100 d-flex justify-content-between p-4">
        <% if user_signed_in? %>
          <button class="btn btn-flat create-event" aria-current="page" data-bs-toggle="modal" data-bs-target="#createEventModal" data-walk-id="<%= walk.id %>" href="#">Créer un evenement</button>
        <% else %>
          <button class="btn btn-flat" aria-current="page" data-bs-toggle="modal" data-bs-target="#loginModal" href="#">Créer un evenement</button>
        <% end %>
        <% if user_signed_in? %>
          <button class="btn btn-ghost">Balade seul</button>
        <% else %>
          <button class="btn btn-flat" aria-current="page" data-bs-toggle="modal" data-bs-target="#loginModal" href="#">Balade seul</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
