<%= render "/shared/banner_event", coords: @event.walk.coords %>
<div class="container mt-4">
  <div>
    <% if @user_in_event %>
      <%= link_to "Quitter cet événement", event_path(@event), method: :delete, class:"btn btn-red"%>
    <% else %>
      <% if @dogs.count + @other_dogs.count > @max_dog %>
        <button class="btn btn-red disabled">Cette balade n'accepte pas plus de <%= @max_dog %> <i class="fas fa-dog" style="color: white;font-size: 24px"></i></button>
      <% else %>
        <%= link_to "Rejoindre cette balade", join_path(@event.id), class: "btn btn-flat" %>
      <% end %>
    <% end %>
    <h1 class="mt-4 mb-2"><span id="site"><%= link_to @event.walk.site.name, site_path(@event.walk.site.id) %></span> - <%= @event.name %></h1>
    <p style="opacity: 0.5;">Le <%= @event.date.strftime('%d-%m-%Y') %></p>
    <p><%= @event.walk.description %></p>
    <h3>
      <p>Participants:</p>
    </h3>
  </div>
  <div class="event-cards">
    <% @event.users.each do |user| %>
      <%= render partial: "shared/user_card", locals: {user: user} %>
    <% end %>
  </div>
</div>
