<div class="container">
  <h1 class="text-center my-4" id="site"><%= @site.name %></h1>
  <h2 class="text-center mb-4">Creation d'une nouvelle balade</h2>
  <%= simple_form_for [@site, @walk], url: site_walks_path, html: { method: :post } do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <div id="mapCreate" class=""
     style="height: 600px;"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <%= f.input :length %>
    <%= f.input :duration %>
    <%= f.input :photo, as: :file %>
    <%= f.input :coords %>
    <%= f.button :submit, "Créer la balade", class: "btn btn-flat" %>
  <% end %>
</div>
