<div class="container">
  <h2 class="text-center my-3"><strong>Résultats de votre recherche aux alentours de <%= @search %></strong></h2>
  <h4><%= @sites.size %> balades trouvées !</h4>
  <div class="row justify-content-between">
    <div class="col-lg-6 col-md-12 col-sm-12 list-sites">
      <div class="site-cards">
        <% @sites.each do |site| %>
          <%= render '/shared/site_card', site: site %>
        <% end %>
      </div>
    </div>
    <div id="map" class="col-lg-6 col-md-12 col-sm-12 order-md-1 order-sm-1"
     style="height: 700px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
