<div id="map"
     style="width: 100%; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="container mt-4">
  <h1 id="site"><%= @site.name %></h1>
  <h5 class="text-grey"><%= @site.address %></h5>
  <p class="site-description my-4"><%= @site.description %></p>
  <div class="accordion" id="accordionExample">
    <% if @site.walks.size.zero? %>
      <h2 class="text-center"> Aucune balade disponible pour l'instant, il n'appartient qu'à vous de créer la première !</h2>
      <%= link_to "Créer une nouvelle balade", new_site_walk_path(@site), class: "btn btn-flat" %>
    <% else %>
      <h2 class="text-center my-4"><%= @site.walks.size  %> balades disponibles</h2>
      <%= link_to "Créer une nouvelle balade", new_site_walk_path(@site), class: "btn btn-flat mb-4" %>
      <% @site.walks.each do |walk| %>
        <%= render '/shared/site_show_card', walk: walk, city: "Lille" %>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "shared/create_event_modal" %>
