<div id="map"
     style="width: 100%; height: 300px;"
     data-markers="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="container mt-4">
  <h1><%= @site.name %></h1>
  <h5 class="text-grey"><%= @site.address %></h5>
  <p class="site-description my-4"><%= @site.description %></p>
  <div class="accordion" id="accordionExample">
    <% if @site.walks.size.zero? %>
      <h2 class="text-center">😢 Aucune balade disponible 😢</h2>
    <% else %>
      <h2 class="text-center my-4"><%= @site.walks.size  %> balades disponibles</h2>
      <% @site.walks.each do |walk| %>
        <%= render '/shared/site_show_card', walk: walk, city: "Lille" %>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "shared/create_event_modal" %>
